@{ 
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="logo">
                <h1><a href="./"><img src="~/Public/frontend/img/logo.jpg" height="100" width="100"></a></h1>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="shopping-item">
                <a href="/Cart/Index">Giỏ hàng <i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>