@model CuaHangMayTinh.Models.HomeModel
@using System.Globalization;
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/HomeMaster.cshtml";
}

    <div>
        <center>Phương thức đổi trả của cửa hàng chúng tôi:</center>
        <br />
        <br />
        <center>- Đối với sản phẩm dưới 15 ngày sau khi mua (sản phẩm mua online là kể từ ngày quý khách nhận được hàng):</center>
        <br />
        <center>Được đổi sang sản phẩm mới nếu bị lỗi nhà sản xuất</center>
        <br />
        <center>Nếu không có lỗi nhưng quý khách muốn đổi sang sản phẩm khác thì quý khách sẽ bị trừ 10% giá máy hiện tại</center>
        <br />
        <center>- Đối với sản phẩm sau 15 ngày sau khi mua (sản phẩm mua online là kể từ ngày quý khách nhận được hàng): </center>
        <br />
        <center>Nếu lỗi của nhà sản xuất, quý khách sẽ được bảo hành</center>
        <br />
        <center>Nếu quý khách muốn đổi sang máy mới, giá máy cũ sẽ trừ 40% giá trị hiện tại</center>
        <br />
        <br />
        <center>Cảm ơn quý khách !</center>
    </div>
