@model CuaHangMayTinh.Models.HomeModel
@using System.Globalization;
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/HomeMaster.cshtml";
}

<div>
    <center>Nhằm đem lại sự tiện lợi cho khách hàng, chúng tôi đưa ra các hình thức thanh toán sau:</center>
    <br />
    <br />
    <center>- Nhận hàng rồi thanh toán (COD)</center>
    <br />
    <center>- Quý khách đến cửa hàng xem máy và thanh toán trực tiếp</center>
    <br />
    <center>Cảm ơn quý khách !</center>
</div>