@model CuaHangMayTinh.Models.HomeModel
@using System.Globalization;
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/HomeMaster.cshtml";
}

    <div>
        <center>Với các sản phẩm được mua tại cửa hàng chúng tôi các bạn được bảo hành như sau:</center>
        <br />
        <br />
        <center>- Về phần cứng: Sau khi các bạn đem máy đến cửa hàng, chúng tôi sẽ gửi máy lên hãng một cách nhanh nhất</center>
        <center>Sau khi có máy chúng tôi sẽ liên lạc với bạn để đến nhận máy</center>
        <br />
        <center>- Về phần mềm: Cửa hàng chúng tôi bảo hành phần mềm các loại máy được mua tại cửa hàng</center>
        <br />
        <center>Cảm ơn quý khách !</center>
    </div>