@model IEnumerable<Model.EF.SanPham>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/HomeMaster.cshtml";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @foreach (Model.EF.SanPham item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="~/Public/upload/product/@item.hinh_anh" alt="">
                        </div>
                        <h2><a href="/Home/Detail/@item.ma">@item.ten</a></h2>
                        <div class="product-carousel-price">
                            <ins>@item.gia_moi</ins> <del>@item.gia_cu</del>
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/Cart/AddToCart/@item.ma">Add to cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
