<div class="zigzag-bottom"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="brand-wrapper">
                <div class="brand-list">
                    <img src="~/Public/frontend/img/Nhanhieu/Acer.png" style="height:70px; width:100px" alt="Acer">
                    <img src="~/Public/frontend/img/Nhanhieu/Asus.png" style="height:70px; width:100px" alt="Asus">
                    <img src="~/Public/frontend/img/Nhanhieu/Dell.png" style="height:70px; width:100px" alt="Dell">
                    <img src="~/Public/frontend/img/Nhanhieu/HP.png" style="height:70px; width:100px" alt="HP">
                    <img src="~/Public/frontend/img/Nhanhieu/Lenovo.png" style="height:70px; width:100px" alt="Lenovo">
                    <img src="~/Public/frontend/img/Nhanhieu/Macbook.png" style="height:70px; width:100px" alt="Macbook">
                    
                </div>
            </div>
        </div>
    </div>
</div>