
<div class="block-slider block-slider4">
    <ul class="" id="bxslider-home4">
        <li>
            <img src="~/Public/frontend/img/QC/1.jpg" alt="Slide" style="height: 400px; width:1300px;">
            <div class="caption-group">
                <h2 class="caption title">
                    @*iPhone X <span class="primary"> <strong> 29.990.000₫</strong></span>*@
                </h2>
                @*<h4 class="caption subtitle">Cho phiên bản 64G</h4>*@

            </div>
        </li>
        <li>
            <img src="~/Public/frontend/img/QC/2.jpg" alt="Slide" style="height:400px; width:1300px;">
            <div class="caption-group">
                @*<h3 class="caption title">
                    Sony Xperia XZ <span class="primary"> <strong>16.990.000₫</strong></span>
                </h3>*@
                @*<h4 class="caption subtitle"></h4>*@

            </div>
        </li>
        <li>
            <img src="~/Public/frontend/img/QC/3.png" alt="Slide" style="height:400px; width:1300px;">
            <div class="caption-group">
                @*<h2 class="caption title">
                    Bphone 2017<span class="primary"> <strong>9.790.000₫</strong></span>
                </h2>*@
                @*<h4 class="caption subtitle">Khuyến Mãi Lớn</h4>*@

            </div>
        </li>
        <li>
            <img src="~/Public/frontend/img/QC/4.jpg" alt="Slide" style="height:400px; width:1300px;">
            <div class="caption-group">
                @*<h2 class="caption title">
                    Galaxy Note 8<span class="primary"> <strong>22.490.000₫</strong></span>
                </h2>*@
                @*<h4 class="caption subtitle">Khuyến Mãi Lớn</h4>*@

            </div>
        </li>
        <li>
            <img src="~/Public/frontend/img/QC/5.jpg" alt="Slide" style="height: 400px; width:1300px;">
        </li>
        <li>
            <img src="~/Public/frontend/img/QC/6.jpg" alt="Slide" style="height: 400px; width:1300px;">
        </li>
        <li>
            <img src="~/Public/frontend/img/QC/7.jpg" alt="Slide" style="height: 400px; width:1300px;">
        </li>
        <li>
            <img src="~/Public/frontend/img/QC/8.png" alt="Slide" style="height: 400px; width:1300px;">
        </li>
    </ul>
</div>