@model IEnumerable<Model.EF.SanPham>
@using System.Globalization;
<h2 class="product-wid-title">Xem nhiều nhất</h2>

@foreach (var item in Model)
{
    <div class="single-wid-product">
        <a href="single-product.html"><img src="~/Public/upload/product/@item.hinh_anh" alt="" class="product-thumb"></a>
        <h2><a href="single-product.html">@item.ten</a></h2>
        <div class="product-wid-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <div class="product-wid-price">
            <ins>@item.gia_moi.ToString("#,###", CultureInfo.GetCultureInfo("vi-VN"))</ins> <del>@item.gia_cu.ToString("#,###", CultureInfo.GetCultureInfo("vi-VN"))</del>
        </div>
    </div>
}
